<div [style]="{ width: '200px' }">
  <app-select
    formName="teste"
    [data]="countries"
    (getSelectedData)="teste($event)"
  ></app-select>
</div>
<!-- <app-button
  label="teste"
  [isBtnLoading]="isLoading"
  (btnClicked)="btnClicked()"
  customClass="teste"
></app-button> -->

<!-- <app-table
  [data]="data"
  [cols]="cols"
  dataKey="position"
  (getSelectedRows)="teste($event)"
  (getEditedRow)="teste($event)"
></app-table>
<div style="margin-top: 40px">
  <app-table
    [data]="data2"
    [cols]="cols2"
    styleClass="p-datatable-striped"
  ></app-table>
</div> -->
